/**
 * Backend Stylesheet
 * Adding Styling for the Foundation Bundle
 **/

/* Class to add information to a dca-table-view - with different colors*/
.backend-info {
    color: #a0a0a0;
    display: inline-block;
}

.backend-info--green {
    color: #74b63a;
}

.backend-info--red {
    color: #c9483d;
}

.backend-info--blue {
    color: #196a98;
}

.backend-info:first-child {
    margin-left: 7px;
}

/* Language Management */
[id^="pal_translation"] legend:before,
fieldset[data-contao--toggle-fieldset-id-value^="translation_"] legend:before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    width: 30px;
    background-image: url(/bundles/memofoundation/icons/language-flags/default.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-right: 0.5rem;
    margin-top: -3px;
}

#pal_translation_de legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_de"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/de.svg);
}

#pal_translation_de_ch legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_de_ch"] legend:before{
    background-image: url(/bundles/memofoundation/icons/language-flags/de.svg);
}

#pal_translation_en legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_en"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/en.svg);
}

#pal_translation_es legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_es"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/en.svg);
}

#pal_translation_fr legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_fr"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/fr.svg);
}

#pal_translation_it legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_it"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/it.svg);
}

#pal_translation_pt legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_pt"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/pt.svg);
}

#pal_translation_ru legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_ru"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/ru.svg);
}

#pal_translation_zh legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_zh"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/zh.svg);
}

#pal_translation_nl legend:before,
fieldset[data-contao--toggle-fieldset-id-value="translation_nl"] legend:before {
    background-image: url(/bundles/memofoundation/icons/language-flags/nl.svg);
}
